@{
    ViewBag.Title = "Home Page";
}


<div class="container">
    <div class="row">
        <div class="alert alert-info" role="alert">Welkom op het ledenbeheersysteem van het Brussels Senioren Konvent vzw</div>
    </div>
    <div class="row">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Prikbord</h3>
            </div>
            <div class="panel-body">
                <p>Dit is versie 1.1 van het ledenbeheersysteem.</p>
                <div>
                    Updates in deze versie:
                    <ul>
                        <li>Zoeken op de ledenlijst (voornaam, familienaam of kring)</li>
                        <li>Sorteren op ledenlijst (voornaam, familienaam, datum van registratie)</li>
                        <li>Backup nemen van ledenlijst (csv)</li>
                        <li>Emailnotificatie bij registratie (voorlopig nog hardcoded)</li>
                        <li>Logging</li>
                    </ul>
                </div>
                <div>
                    Verbeteringen gepland voor de volgende versie:
                    <ul>
                        <li>Paginering op ledenlijst</li>
                        <li>Uitgebreider filteren op ledenlijst</li>
                        <li>Automatische backup per ingesteld interval</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>